.carousel_container
{
    height: 38vh;
    width: 38vw;
    display: inline-block;
    float: left;
    margin-top: 25vh;
    margin-left: 10vw;
}
.carousel .carousel-item {
    height: 100%;
    width: 100%;

}

/*
.carousel .carousel-item img {
  min-height: 38rem;
  max-height: 38rem;  
}
*/

.carousel-fade .carousel-inner .item {
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,

.carousel-fade .carousel-inner .active.left,

.carousel-fade .carousel-inner .active.right {
   opacity: 0;
}
.carousel-fade .carousel-inner .active,

.carousel-fade .carousel-inner .next.left,

.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,

.carousel-fade .carousel-inner .prev,

.carousel-fade .carousel-inner .active.left,

.carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}
